.contain {
    height: 8vh !important;
}

.btn {
    width: 30%;
}

.hero {
    width: 40%;
    position: relative !important;
    top: -15vh !important;
}

.subtext {
    font-size: 24px !important;
    line-height: 32px !important;
    font-weight: 700 !important;
}