<div class="flex  justify-around w-full search ">
    <aside class="w-1/6 h-full border-r-2 pt-10 border-gray-300 pr-4 ">
        <div class="text-2
         font-semibold">
            Filter by Review
        </div>
        <input type="range" name="" min="0" max="5" id="">
        <h3 class="mb-4 font-semibold text-gray-900 ">Category</h3>
        <ul class="w-48 text-sm font-medium text-black bg-white border border-gray-200 rounded-lg "
            style="height: 300px; overflow: scroll;">
            <li *ngFor="let s of states" class="w-full border-b border-gray-200 rounded-t-lg ">
                <div class="flex items-center pl-3">
                    <input id="vue-checkbox" type="checkbox" value=""
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2 ">
                    <label for="vue-checkbox" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 ">{{s}}</label>
                </div>
            </li>
        </ul>
        <ul>
            <p>
                prices
            </p>
        </ul>

    </aside>
    <div class="w-3/4	pt-10  ">
        <p class="text-lg font-medium text-gray-700 ml-28">
            Top Workers in Town
        </p>
        <div *ngFor="let w of workers" class="flex flex-col justify-center mb-8 ">
            <div
                class="relative flex flex-col md:flex-row md:space-x-5 space-y-3 md:space-y-0 rounded-md w-full	 max-w-xs md:max-w-3xl mx-auto border border-white bg-white">
                <div class="w-1/2 md:w-1/5 bg-white grid place-items-center">
                    <img src="data:image/jpeg;base64,{{w.image.picByte}}" alt="tailwind logo" class="rounded-md	" />
                </div>
                <div class="w-full md:w-2/3 bg-white flex flex-col space-y-2 p-3">
                    <div class="flex justify-between item-center">
                        <p class="text-gray-500 font-medium hidden md:block">{{w.job.name}}</p>
                        <div class="flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-500" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path
                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                            </svg>
                            <p class="text-gray-600 font-bold text-sm ml-1">
                                {{getWorkerService().calculateReview(w.reviews)}} <span
                                    class="text-gray-500 font-normal">({{w.reviews.length}}
                                    reviews)</span>
                            </p>
                        </div>
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-pink-500" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path fill-rule="evenodd"
                                    d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
                                    clip-rule="evenodd" />
                            </svg>
                        </div>
                        <div
                            class="bg-gray-200 px-3 py-1 rounded-full text-xs font-medium text-gray-800 hidden md:block">
                            SuperWorker</div>
                    </div>
                    <h3 class="font-black text-gray-800 md:text-3xl text-xl">{{w.name}}</h3>
                    <p class="md:text-lg text-gray-500 text-base">{{w.expertise}}</p>
                    <div class="flex justify-between ">
                        <p class="text-xl font-black text-gray-800">
                            ${{w.daily_price}}
                            <span class="font-normal text-gray-600 text-base">/day</span>
                        </p>
                        <p class="text-xl font-black text-gray-800">
                            <a class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"
                                routerLink="/profile/{{w.id}}">
                                Profile
                            </a>
                        </p>
                    </div>


                </div>
            </div>
        </div>


    </div>


</div>